*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  }
  html,body{
  height: 100%;
  width: 100%;
  }
  #bg{
      background-color: black;
      overflow: hidden ;
      height: 35vh;
      color: white;   
  }
  h1{
      font-size: 200px;
  }
  span{
      display: inline-block;
  }